<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loan Calculator</title>
    <link rel="stylesheet" href="css/calc.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1 style="color: #6258A8">Loan Calculator</h1>
        <form action="/" method="get">
        <button type="submit" name="login" class="rebtn">Log Out</button>
        </form>
      </div>
      <div class="sub-container">
        <div class="view">
          <div class="details">
            <div>
              <div class="detail">
                <p style="color: #9088D2">Amount</p>
                <p id="loan-amt-text" style="color: #6258A8"></p>
              </div>
              <input type="range" id="loan-amount" value="0" min="0" max="10000000" step="50000"/>
            </div>
            <div>
              <div class="detail">
                <p style="color: #9088D2">Years</p>
                <p id="loan-period-text" style="color: #6258A8"></p>
              </div>
              <input type="range" id="loan-period" value="0" min="1" max="30" step="1"/>
            </div>
            <div>
              <div class="detail">
                <p style="color: #9088D2">% Interest</p>
                <p id="interest-rate-text" style="color: #6258A8"></p>
              </div>
              <input type="range" id="interest-rate" value="0" min="1" max="21" step="1"/>
            </div>
          </div>
          <div class="footer">
            <p id="price-container"><span id="price">0</span>/mo</p>
          </div>
        </div>
        <div class="breakup">
          <canvas id="pieChart"></canvas>
        </div>
      </div>
      <div>
        <form id="loan-form" action="/calc" method="POST">
          <div class="loan-details">
            <div class="chart-details">
              <p style="color: #9088D2">Principal Amount</p>
              <p id="cp" name="P_amount" style="color: #130F31; font-size: 17px;" ></p>
            </div>
            <div class="chart-details">
              <p style="color: #9088D2">Interest</p>
              <p id="ci" name="interest" style="color: #130F31; font-size: 17px;"></p>
            </div>
            <div class="chart-details">
              <p style="color: #9088D2">Total Payable</p>
              <p id="ct" name="total" style="color: #130F31; font-size: 17px;"></p>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" onclick="sendData()">Save Calculations</button>
        </form>
        <canvas id="lineChart" height="200px" width="200px"></canvas>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js"
    ></script>
    <script src="js/calc.js"></script>

  <script>
  function sendData() {
    var interestValue = document.getElementById("ci").textContent;
    var principalValue = document.getElementById("cp").textContent;
    var totalValue = document.getElementById("ct").textContent;

    // Interest
    var hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", "interest");
    hiddenInput.setAttribute("value", interestValue);


    // Principal Amount
    var hiddenPrincipalInput = document.createElement("input");
    hiddenPrincipalInput.setAttribute("type", "hidden");
    hiddenPrincipalInput.setAttribute("name", "P_amount");
    hiddenPrincipalInput.setAttribute("value", principalValue);

    // Total Payable
    var hiddenTotalInput = document.createElement("input");
    hiddenTotalInput.setAttribute("type", "hidden");
    hiddenTotalInput.setAttribute("name", "total");
    hiddenTotalInput.setAttribute("value", totalValue);


    var form = document.getElementById("loan-form");


    form.appendChild(hiddenInput);
    form.appendChild(hiddenPrincipalInput);
    form.appendChild(hiddenTotalInput);


    form.submit();

  }
</script>


</body>
</html>

